[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
coverage = "*"
twine = "*"
build = "*"
pytest = "*"
emojiguessr = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3"
