[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
twine = "*"
build = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
emojiguessr = {file = ".", editable = true}
bumpver = "*"

[dev-packages]

[requires]
python_version = "3"
