name: CD
on:
  push:
    branches:
      - main
jobs:
  deliver:
      # needs: [build]
      runs-on: ubuntu-latest
      timeout-minutes: 5
      steps:
        - uses: actions/checkout@v4
        - name: Install Python, pipenv and Pipfile packages
          uses: kojoru/prepare-pipenv@v1
        - name: Install bumpver and bump
          run: |
            pipenv install bumpver
            bumpver update -p
        - name: Build package
          run: |
            pipenv install build
            pipenv run python -m build .
        - name: Publish to PyPI test server
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            password: ${{ secrets.TEST_PYPI_API_TOKEN }}
            repository-url: https://test.pypi.org/legacy/