name: CD
on:
  workflow_dispatch:
    inputs:
      part:
        description: Which version segment to bump
        default: patch
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
jobs:
  deliver:
      # needs: [build]
      runs-on: ubuntu-latest
      timeout-minutes: 5
      steps:
        - uses: actions/checkout@v4
        - name: Install Python, pipenv and Pipfile packages
          uses: kojoru/prepare-pipenv@v1
          # you gotta do it manually bud, im not making it commit the new version number
        # - name: Install bumpver and bump
        #   run: |
        #     pipenv install bumpver
        #     pipenv run bumpver update -p
        - name: Build package
          run: |
            pipenv install build
            pipenv run python -m build .
        - name: Publish to PyPI test server
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            password: ${{ secrets.TEST_PYPI_API_TOKEN }}
            repository-url: https://test.pypi.org/legacy/
        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            password: ${{ secrets.PYPI_API_TOKEN }}